.top-bar{background:#F26522; padding:10px 0; }
.social_icon{margin-right:5px;}
.scolor{color:#0000ff; }
.contact_info{color:#fff; font-size:16px;}
.my_menu{margin-top:27px;}
.my_menu .navbar-default{background:none; border:none;}